@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    background-color: #000000ee;
    color: white;
}

.navbar {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.join {
    margin: 0 20px;
}

#join {
    background-color: rgb(0, 115, 255);
    border: 1px solid rgb(0, 115, 255);
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
}

.content {
    display: flex;
    width: 95vw;
    justify-content: space-between;
}

.videos {
    display: flex;
    align-items: center;
    width: 100%;
}

video {
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    background-color: transparent;
}

#remoteVideo {
    height: 90vh;
    border-radius: 6px;
}

#localVideo {
    position: fixed;
    width: 20vw;
    right: 0;
    bottom: 0;
}

#callId {
    padding: 10px;
    border-radius: 6px;
}